<header>
    <h1>ECHO CLOUD</h1>
    <nav>
      <% if (user) { %>
        <p class="welcome">
          환영합니다, <strong style="color:hotpink"><%= user.user_id %></strong>님!
          <a href="/logout" class="btn-logout">로그아웃</a>
        </p>
      <% } else { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
      <% } %>
    </nav>
</header>
